{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}
{% endblock %}

{% block stylesheets %}
	{{ parent()}}
{% endblock %}

{% block javascripts %}
	{{ parent()}}
{% endblock %}
{% block body %}
	{# Video introducting the business model to hook up users  #}
	<section class="section-one-bg d-flex flex-column text-center">
		<h1 class="text-center h3 my-3 w-75 m-auto ">Envie d'une soirée gaming ou ciné, choisis ta room. On débarque deuspi, tu kiffes à l'infini</h1>

			<img src="" alt="">
			<video class="w-75 m-auto" controls>
				<source src="movie.mp4" type="video/mp4">
				<source src="movie.ogg" type="video/ogg">Votre format vidéo n'est pas compatible
			</video>
	</section>

	{# Feed of image or video posts to promote #}
	<section class="section-two-bg d-flex flex-row flex-wrap text-center">
		<h2 class="w-100">Titre section 2</h2>
		<div class="d-flex flex-row flex-wrap w-100 justify-content-around">
			<div>
				<div>
					<img src="https://fakeimg.pl/350x200/bde0fe/">
				</div>
				<figcaption>Titre media</figcaption>
			</div>
			<div>
				<div>
					<img src="https://fakeimg.pl/350x200/bde0fe/">
				</div>
				<figcaption>Titre media</figcaption>
			</div>
			<div>
				<div>
					<img src="https://fakeimg.pl/350x200/bde0fe/">
				</div>
				<figcaption>Titre media</figcaption>
			</div>
			<div>
				<div>
					<img src="https://fakeimg.pl/350x200/bde0fe/">
				</div>
				<figcaption>Titre media</figcaption>
			</div>
			<div>
				<div>
					<img src="https://fakeimg.pl/350x200/bde0fe/">
				</div>
				<figcaption>Titre media</figcaption>
			</div>
			<div>
				<div>
					<img src="https://fakeimg.pl/350x200/bde0fe/">
				</div>
				<figcaption>Titre media</figcaption>
			</div>
		</div>
	</section>

	{# Section speaks about the founders #}
	<section class="section-three-bg d-flex flex-column text-center">
		<h2>Qui sommes-nous?</h2>
		<div>
			<img class="img-fluid w-50" src="{{ asset('images/who-are-we-section.jpg') }}" alt="">

		</div>
	</section>

	{# feature Réservation soirée ou weekend sans création compte #}
	<section class="section-two-bg d-flex flex-column text-center">
		<h2>Réservations créneaux avec pré-autorisation cb ou paypal</h2>
		<div>
			
		</div>
	</section>
{% endblock %}
