<h1>Bienvenue chez AmbianceMoi! Confirmation de votre email</h1>

<p>
    Merci de confirmer votre inscription : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très vite!
</p>
