<footer class="footer-style">
    <div class="d-flex flex-row justify-content-around align-items-center">
        <ul>
            <li><a href="#">Qui sommes nous?</a></li>
            <li><a href="#">Nous contacter</a></li>
            <li><a href="#">Plan du site</a></li>
        </ul>

        <ul>
            <li><a href="#">CGV</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Foire à questions</a></li>
        </ul>

        <ul class="d-flex row w-25">
            <li class="w-25"><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
            <li class="w-25"><a href="#"><i class="fab fa-tiktok fa-lg"></i></a></li>
        </ul>
    </div>
</footer>