{% extends 'base.html.twig' %}

{% block title %}Accueil backoffice -
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="text-center d-flex flex-column container">
		<h1 class="my-3">Bienvenue sur l'interface de gestion des données</h1>

		<div class="row" id="container-btn">
			<div class="col-6 col-md-4 col-lg-3 my-1">
				<a class="btn btn-primary btn-sm"href="{{ path('backoffice_user_index') }}">Utilisateurs</a>
			</div>
			<div class="col-6 col-md-4 col-lg-3 my-1">
				<a class="btn btn-primary btn-sm"href="#">Catégories de produits</a>
			</div>
			<div class="col-6 col-md-4 col-lg-3 my-1">
				<a class="btn btn-primary btn-sm"href="#">Produits</a>
			</div>
			<div class="col-6 col-md-4 col-lg-3 my-1">
				<a class="btn btn-primary btn-sm"href="#">Posts</a>
			</div>
		</div>


	</div>
{% endblock %}
