body {
    margin: 0;
    padding: 0;
}

/* COMPONENTS, BUTTONS etc. */
.btn-edit {
    width: 45px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.btn-delete {
    width: 45px;
    height: 40px;
    padding: 0;
    margin: 0;
}

/* FORMS */
form[name=user_form] > div.mb-3 > div.form-check {
    display: flex;
    justify-content: center;
}

form[name=product_form], form[name=user_form], form[name=product_category_form], form[name=post] {
    min-width: 450px;
    width: 500px;
}

.w-500 {
    width: 500px;
}


.btn-size {
    width: 75px!important;
    height: 50px!important;
}

ul.mt-dropdownmenu {
    top:142%!important;
}

.btn-bg-style > li > a.dropdown-item {
    background-color: #212529;
    color: whitesmoke;
}

#container-btn > div > a.btn {
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* color-btn navbar */
.text-green {
    color: #76c893!important;
}
.text-green:hover {
    opacity: 0.6;
}

.text-purple {
    color: #cdb4db!important;
}
.text-purple:hover {
    opacity: 0.6;
}

.btn-delete.btn-sm {
    padding-top: 8px;
}

/* HOMEPAGE */
/* section 1 */
.section-one-bg {
    background-color: #fefae09d;
    padding-bottom: 20px;
}

/* section 2 */
.section-two-bg {
    background-color: #ffddd28f;
    padding-bottom: 20px;
}

/* section 3 */
.section-three-bg {
    background-color: #fefae09d;
    padding-bottom: 20px;
}

.section-three-bg .img-fluid {
    width: 60vw;
    height: 30.25vw;
}

/* Login page */

.div-redirect-to-register {
    font-size: smaller;
}

#login-form .redirect-login-to-register{
    color: gray;
}

#login-form .redirect-login-to-register:hover {
    color: red;
}

/* Backoffice */
.users-headers {
    display: inline-block;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

#users-grid #id-header {
    width: 6%;
}

#is-verified-column {
    border: none!important;
}

#users-grid div {
    width: 100%;
    border-right: 1px solid black;
    
}

#users-grid > div > .users-cells {
    width: 100%;
    height: 50px;
    border: none;
    margin: auto;
    border-bottom: 1px solid black;
    word-wrap: break-word;
}

.border-bt-none {
    border-bottom: none!important;
}

/* FOOTER */
.footer-style {
    width: 100%;
    height: 100px;
    background-color: #212529;
    color: whitesmoke;
    margin-top: 100vh;
}

.footer-style > div {
    height: 100px;
}

.footer-style ul {
    list-style-type: none;
    margin-bottom: 0!important;
}

.footer-style a{
    text-decoration: none;
    color: whitesmoke;
}
