<form method="post" action="{{ path('app_backoffice_product_category_delete', {'id': category.id }) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette catégorie?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id ) }}">
	<button class="btn-delete btn btn-sm btn-danger mx-2 my-2"><i class="fas fa-trash-alt"></i></button>
</form>
